<!doctype html>
<html>
  <head>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <title> {% block title %}{% endblock %} - Pracitce for DSW</title>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="{{ url_for('static', filename='scripts.js') }}"></script>
   </head>

  <body>
    <!-- Make the menu that will be on all pages -->
    <ul>
      <li><a href='.'>Home</a></li>
      <li><a href='/login'>Log in</a></li>
      <li><a href='/createaccount'>Create Account</a></li>
    </ul>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
